<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><html class="no-js"><![endif]-->
<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forms</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable = yes">

    <link rel="stylesheet" href="../vendor/contrib/normalize.css/normalize.css">
    <link rel="stylesheet" href="../vendor/iknsa/css/imports.css">
    <!--[if (lt IE 9)|(IE 9)]>  <link rel="stylesheet" href="../vendor/iknsa/css/ie9.css"> <![endif]-->
    <!--[if IE 10]>  <link rel="stylesheet" href="../vendor/iknsa/css/ie10.css"> <![endif]-->
    <!--[if IE 10]>  <link rel="stylesheet" href="../vendor/iknsa/css/ie10.css"> <![endif]-->

    <script src="../vendor/contrib/modernizr/modernizr.js" type="text/javascript"></script>

    <!-- <script src="js/vendor/modernizr-2.6.2.min.js"></script> -->
    <!-- Importing jquery in case there are jq scripts in the middle of the page -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <!-- <script>window.jQuery || document.write('<script src="../js/dist/jq.min.js"><\/script>')</script> -->
</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <p style="text-align:center">---------------------------------------------------------------------------------------------------------------------------------</p>
    <form action="#" class="form-pro-theme success">

    <h4>Pro theme form success</h4>

        <div class="form-error">
            <span>Il y a des erreurs dans le formulaire. Merci de les corriger avant de le resoumettre.</span>
        </div>

        <div class="form-group success">
            <div class="label"><label for="search">Search</label></div>
            <input type="text" placeholder="Search" name="search" id="search" class="d3">
            
            <div class="error-message">
                <span>Merci de renseigner au moins 3 caractères</span>
            </div>
        </div>

        <div class="form-group success">
            <div class="label"><label for="url">Input Url</label></div>
            <input type="text" placeholder="url" name="url" id="url">
            
            <div class="error-message">
                <span>Merci de renseigner au moins 3 caractères</span>
            </div>
        </div>

        <fieldset>
            <legend>This is a form</legend>

            <div class="form-group success">
                <div class="label"><label for="name">Name</label></div>
                <input type="text" placeholder="Name" name="name" id="name">

                <div class="error-message">
                    <span>Merci de renseigner au moins 3 caractères</span>
                </div>
            </div>

            <div class="form-group success">
                <div class="label"><label for="pass">Pass</label></div>
                <input type="password" placeholder="password" name="pass" id="pass">

                <div class="error-message">
                    <span>Merci de renseigner au moins 3 caractères</span>
                </div>
            </div>

            <div class="form-group success">
                <div class="label"><label for="email">Email</label></div>
                <input type="email" placeholder="khalid@gmail.com" name="email" id="email">

                <div class="error-message">
                    <span>Merci de renseigner au moins 3 caractères</span>
                </div>
            </div>

            <div class="form-group success">
                <div class="label"><label for="upload">Upload File</label></div>
                <input type="file" name="upload" id="upload" class="btn btn-primary btn-sm">

                <div class="error-message">
                    <span>Merci de choisir une option</span>
                </div>
            </div>

        </fieldset>

        <div class="form-group success">
            <div class="label"><label>Radio</label></div>
            <span>Radio button one</span><input type="radio" placeholder="One" name="radio">
            <span>Radio button two</span><input type="radio" placeholder="Two" name="radio">
            <span>Radio button three</span><input type="radio" placeholder="Three" name="radio">
            
            <div class="error-message">
                <span>Merci de choisir une option</span>
            </div>
        </div>

        <div class="form-group success">
            <div class="label"><label>Checkboxes</label></div>
            <span>Checkbox one</span><input type="checkbox" placeholder="Check Me" name="checkbox">
            <span>Checkbox one</span><input type="checkbox" placeholder="Check You" name="checkbox">
            <span>Checkbox one</span><input type="checkbox" placeholder="Check Her" name="checkbox">
            
            <div class="error-message">
                <span>Merci de choisir une option</span>
            </div>
        </div>

        <div class="form-group success">
            <div class="label"><label>Select something</label></div>
            <select name="select" id="select">
                <option placeholder="default">Selec something</option>
                <option placeholder="One">One</option>
                <option placeholder="Two">Two</option>
                <option placeholder="Threee">Three</option>
            </select>
            
            <div class="error-message">
                <span>Merci de choisir une option</span>
            </div>
        </div>

        <div class="form-group success">
            <div class="label"><label for="text">Textarea</label></div>
            <textarea name="text" id="text" cols="50" rows="5"></textarea>
            
            <div class="error-message">
                <span>Merci de renseigner au moins 3 caractères</span>
            </div>
        </div>

        <div class="form-group">
            <div class="label"><label></label></div>
            <input type="button" value="Input button" class="btn btn-primary">
        </div>

        <div class="form-group">
            <div class="label"><label></label></div>
            <button class="btn btn-primary">Button</button>
        </div>

        <div class="form-group">
            <div class="label"><label></label></div>
            <input type="submit" placeholder="Submit" class="btn btn-primary">
        </div>



        <!-- Dates are not handeled properly by browsers -->
        <!-- 
        <fieldset>
            <label for="date">Input date</label>
            <input type="date" name="date" id="date">

            <label for="datetime">Input DateTime</label>
            <input type="datetime" name="datetime" id="datetime">

            <label for="datetime-local">Input DateTime-local</label>
            <input type="datetime-local" name="datetime-local" id="datetime-local">

            <label for="month">Input Month</label>
            <input type="month" name="month" id="month">

            <label for="number">Input Number</label>
            <input type="number" name="number" id="number">

            <label for="time">Input Time</label>
            <input type="time" name="time" id="time">

            <label for="week">Input Week</label>
            <input type="week" name="week" id="week">
        </fieldset> -->
        

        <!-- Not handeled in IE9 and safari -->
        <!-- 
        <label for="browser">Input with datalist</label>
        <input list="browsers" name="browser">
        <datalist id="browsers">
            <option value="Internet Explorer">
            <option value="Firefox">
            <option value="Chrome">
            <option value="Opera">
            <option value="Safari">
        </datalist> -->
    </form>

    <p style="text-align:center">---------------------------------------------------------------------------------------------------------------------------------</p>
    <p style="text-align:center">---------------------------------------------------------------------------------------------------------------------------------</p>

    <p style="text-align:center">---------------------------------------------------------------------------------------------------------------------------------</p>
    <form action="#" class="form-pro-theme error">

    <h4>Pro theme form with errors</h4>

        <div class="form-error">
            <span>Il y a des erreurs dans le formulaire. Merci de les corriger avant de le resoumettre.</span>
        </div>

        <div class="form-group error">
            <div class="label"><label for="search">Search</label></div>
            <input type="text" placeholder="Search" name="search" id="search" class="d3">
            
            <div class="error-message">
                <span>Merci de renseigner au moins 3 caractères</span>
            </div>
        </div>

        <div class="form-group error">
            <div class="label"><label for="url">Input Url</label></div>
            <input type="text" placeholder="url" name="url" id="url">
            
            <div class="error-message">
                <span>Merci de renseigner au moins 3 caractères</span>
            </div>
        </div>

        <fieldset>
            <legend>This is a form</legend>

            <div class="form-group error">
                <div class="label"><label for="name">Name</label></div>
                <input type="text" placeholder="Name" name="name" id="name">

                <div class="error-message">
                    <span>Merci de renseigner au moins 3 caractères</span>
                </div>
            </div>

            <div class="form-group error">
                <div class="label"><label for="pass">Pass</label></div>
                <input type="password" placeholder="password" name="pass" id="pass">

                <div class="error-message">
                    <span>Merci de renseigner au moins 3 caractères</span>
                </div>
            </div>

            <div class="form-group error">
                <div class="label"><label for="email">Email</label></div>
                <input type="email" placeholder="khalid@gmail.com" name="email" id="email">

                <div class="error-message">
                    <span>Merci de renseigner au moins 3 caractères</span>
                </div>
            </div>

            <div class="form-group error">
                <div class="label"><label for="upload">Upload File</label></div>
                <input type="file" name="upload" id="upload" class="btn btn-primary btn-sm">

                <div class="error-message">
                    <span>Merci de choisir une option</span>
                </div>
            </div>

        </fieldset>

        <div class="form-group error">
            <div class="label"><label>Radio</label></div>
            <span>Radio button one</span><input type="radio" placeholder="One" name="radio">
            <span>Radio button two</span><input type="radio" placeholder="Two" name="radio">
            <span>Radio button three</span><input type="radio" placeholder="Three" name="radio">
            
            <div class="error-message">
                <span>Merci de choisir une option</span>
            </div>
        </div>

        <div class="form-group error">
            <div class="label"><label>Checkboxes</label></div>
            <span>Checkbox one</span><input type="checkbox" placeholder="Check Me" name="checkbox">
            <span>Checkbox one</span><input type="checkbox" placeholder="Check You" name="checkbox">
            <span>Checkbox one</span><input type="checkbox" placeholder="Check Her" name="checkbox">
            
            <div class="error-message">
                <span>Merci de choisir une option</span>
            </div>
        </div>

        <div class="form-group error">
            <div class="label"><label>Select something</label></div>
            <select name="select" id="select">
                <option placeholder="default">Selec something</option>
                <option placeholder="One">One</option>
                <option placeholder="Two">Two</option>
                <option placeholder="Threee">Three</option>
            </select>
            
            <div class="error-message">
                <span>Merci de choisir une option</span>
            </div>
        </div>

        <div class="form-group error">
            <div class="label"><label for="text">Textarea</label></div>
            <textarea name="text" id="text" cols="50" rows="5"></textarea>
            
            <div class="error-message">
                <span>Merci de renseigner au moins 3 caractères</span>
            </div>
        </div>

        <div class="form-group">
            <div class="label"><label></label></div>
            <input type="button" value="Input button" class="btn btn-primary">
        </div>

        <div class="form-group">
            <div class="label"><label></label></div>
            <button class="btn btn-primary">Button</button>
        </div>

        <div class="form-group">
            <div class="label"><label></label></div>
            <input type="submit" placeholder="Submit" class="btn btn-primary">
        </div>



        <!-- Dates are not handeled properly by browsers -->
        <!-- 
        <fieldset>
            <label for="date">Input date</label>
            <input type="date" name="date" id="date">

            <label for="datetime">Input DateTime</label>
            <input type="datetime" name="datetime" id="datetime">

            <label for="datetime-local">Input DateTime-local</label>
            <input type="datetime-local" name="datetime-local" id="datetime-local">

            <label for="month">Input Month</label>
            <input type="month" name="month" id="month">

            <label for="number">Input Number</label>
            <input type="number" name="number" id="number">

            <label for="time">Input Time</label>
            <input type="time" name="time" id="time">

            <label for="week">Input Week</label>
            <input type="week" name="week" id="week">
        </fieldset> -->
        

        <!-- Not handeled in IE9 and safari -->
        <!-- 
        <label for="browser">Input with datalist</label>
        <input list="browsers" name="browser">
        <datalist id="browsers">
            <option value="Internet Explorer">
            <option value="Firefox">
            <option value="Chrome">
            <option value="Opera">
            <option value="Safari">
        </datalist> -->
    </form>

    <p style="text-align:center">---------------------------------------------------------------------------------------------------------------------------------</p>
    <p style="text-align:center">---------------------------------------------------------------------------------------------------------------------------------</p>
    <form action="#" class="form-pro-theme">

    <h4>Pro theme form</h4>

        <div class="form-group">
            <div class="label"><label for="search">Search</label></div>
            <input type="text" placeholder="Search" name="search" id="search" class="d3">
        </div>

        <div class="form-group">
            <div class="label"><label for="url">Input Url</label></div>
            <input type="text" placeholder="url" name="url" id="url">
        </div>

        <fieldset>
            <legend>This is a form</legend>

            <div class="form-group">
                <div class="label"><label for="name">Name</label></div>
                <input type="text" placeholder="Name" name="name" id="name">
            </div>

            <div class="form-group">
                <div class="label"><label for="pass">Pass</label></div>
                <input type="password" placeholder="password" name="pass" id="pass">
            </div>

            <div class="form-group">
                <div class="label"><label for="email">Email</label></div>
                <input type="email" placeholder="khalid@gmail.com" name="email" id="email">
            </div>

            <div class="form-group">
                <div class="label"><label for="upload">Upload File</label></div>
                <input type="file" name="upload" id="upload" class="btn btn-primary btn-sm">
            </div>

        </fieldset>

        <div class="form-group">
            <div class="label"><label>Radio</label></div>
            <span>Radio button one</span><input type="radio" placeholder="One" name="radio">
            <span>Radio button two</span><input type="radio" placeholder="Two" name="radio">
            <span>Radio button three</span><input type="radio" placeholder="Three" name="radio">
        </div>

        <div class="form-group">
            <div class="label"><label>Checkboxes</label></div>
            <span>Checkbox one</span><input type="checkbox" placeholder="Check Me" name="checkbox">
            <span>Checkbox one</span><input type="checkbox" placeholder="Check You" name="checkbox">
            <span>Checkbox one</span><input type="checkbox" placeholder="Check Her" name="checkbox">
        </div>

        <div class="form-group">
            <div class="label"><label for="text">Textarea</label></div>
            <textarea name="text" id="text" cols="30" rows="10"></textarea>
        </div>

        <div class="form-group">
            <div class="label"><label>Select something</label></div>
            <select name="select" id="select">
                <option placeholder="One">One</option>
                <option placeholder="Two">Two</option>
                <option placeholder="Threee">Three</option>
            </select>
        </div>

        <div class="form-group">
            <div class="label"><label></label></div>
            <input type="button" placeholder="Input button" class="btn btn-primary">
        </div>

        <div class="form-group">
            <div class="label"><label></label></div>
            <button class="btn btn-primary">Button</button>
        </div>

        <div class="form-group">
            <div class="label"><label></label></div>
            <input type="submit" placeholder="Submit" class="btn btn-primary">
        </div>



        <!-- Dates are not handeled properly by browsers -->
        <!-- 
        <fieldset>
            <label for="date">Input date</label>
            <input type="date" name="date" id="date">

            <label for="datetime">Input DateTime</label>
            <input type="datetime" name="datetime" id="datetime">

            <label for="datetime-local">Input DateTime-local</label>
            <input type="datetime-local" name="datetime-local" id="datetime-local">

            <label for="month">Input Month</label>
            <input type="month" name="month" id="month">

            <label for="number">Input Number</label>
            <input type="number" name="number" id="number">

            <label for="time">Input Time</label>
            <input type="time" name="time" id="time">

            <label for="week">Input Week</label>
            <input type="week" name="week" id="week">
        </fieldset> -->
        

        <!-- Not handeled in IE9 and safari -->
        <!-- 
        <label for="browser">Input with datalist</label>
        <input list="browsers" name="browser">
        <datalist id="browsers">
            <option value="Internet Explorer">
            <option value="Firefox">
            <option value="Chrome">
            <option value="Opera">
            <option value="Safari">
        </datalist> -->
    </form>
    <p style="text-align:center">---------------------------------------------------------------------------------------------------------------------------------</p>

    <p style="text-align:center">---------------------------------------------------------------------------------------------------------------------------------</p>
    <form action="#">
    <h4>Normalized Form</h4>

        <label for="search">Search</label>
        <input type="text" value="Search" name="search" id="search">

        <label for="url">Input Url</label>
        <input type="text" value="url" name="url" id="url">

        <fieldset>
        
            <legend>This is a form</legend>

            <label for="name">Name</label>
            <input type="text" value="Name" name="name" id="name">

            <label for="pass">Pass</label>
            <input type="password" value="password" name="pass" id="pass">

            <label for="email">Email</label>
            <input type="email" value="khalid@gmail.com" name="email" id="email">

            <label for="upload">Upload File</label>
            <input type="file" name="upload" id="upload">

        </fieldset>

        <label>Radio</label>
        <input type="radio" value="One" name="radio">
        <input type="radio" value="Two" name="radio">
        <input type="radio" value="Three" name="radio">

        <label>Checkboxes</label>
        <input type="checkbox" value="Check Me" name="checkbox">
        <input type="checkbox" value="Check You" name="checkbox">
        <input type="checkbox" value="Check Her" name="checkbox">
    
        <input type="button" value="Input button">

        <label for="text">Textarea</label>
        <textarea name="text" id="text" cols="30" rows="10"></textarea>

        <button>Button</button>

        <select name="select" id="select">
            <option value="One">One</option>
            <option value="Two">Two</option>
            <option value="Threee">Three</option>
        </select>

        <input type="submit" value="Submit">


        <!-- Dates are not handeled properly by browsers -->
        <!-- 
        <fieldset>
            <label for="date">Input date</label>
            <input type="date" name="date" id="date">

            <label for="datetime">Input DateTime</label>
            <input type="datetime" name="datetime" id="datetime">

            <label for="datetime-local">Input DateTime-local</label>
            <input type="datetime-local" name="datetime-local" id="datetime-local">

            <label for="month">Input Month</label>
            <input type="month" name="month" id="month">

            <label for="number">Input Number</label>
            <input type="number" name="number" id="number">

            <label for="time">Input Time</label>
            <input type="time" name="time" id="time">

            <label for="week">Input Week</label>
            <input type="week" name="week" id="week">
        </fieldset> -->
        

        <!-- Not handeled in IE9 and safari -->
        <!-- 
        <label for="browser">Input with datalist</label>
        <input list="browsers" name="browser">
        <datalist id="browsers">
            <option value="Internet Explorer">
            <option value="Firefox">
            <option value="Chrome">
            <option value="Opera">
            <option value="Safari">
        </datalist> -->
    </form>
    <p style="text-align:center">---------------------------------------------------------------------------------------------------------------------------------</p>

    <!-- jquery -->
    <script src="../vendor/contrib/jquery-1.11.2/index.js"></script>
    
    <!-- Js section -->
    <script src="../vendor/iknsa/js/dev.js"></script>

    <!-- The following js is just for dev and needs to be removed when in prod. -->
    <!-- <script src="js"></script> -->
    <!-- <script src=""></script> -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        // e.src='//www.google-analytics.com/analytics.js';
        // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        // ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
</body>
</html>
