<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><html class="no-js"><![endif]-->
<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>pagination</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable = yes">

    <link rel="stylesheet" href="../vendor/contrib/normalize.css/normalize.css">
    <link rel="stylesheet" href="../vendor/iknsa/css/imports.css">
    <!--[if (lt IE 9)|(IE 9)]>  <link rel="stylesheet" href="../vendor/iknsa/css/ie9.css"> <![endif]-->
    <!--[if IE 10]>  <link rel="stylesheet" href="../vendor/iknsa/css/ie10.css"> <![endif]-->

    <script src="../vendor/contrib/modernizr/modernizr.js" type="text/javascript"></script>

    <!-- <script src="js/vendor/modernizr-2.6.2.min.js"></script> -->
    <!-- Importing jquery in case there are jq scripts in the middle of the page -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <!-- <script>window.jQuery || document.write('<script src="../js/dist/jq.min.js"><\/script>')</script> -->
</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <p>-----------------------------------------</p>
    <h4>ul > li > a</h4>
    <div class="pagination">
        <ul>
            <li><a href="#" class="btn btn-default">Prev</a></li>
            <li><a href="#" class="btn btn-default">1</a></li>
            <li><a href="#" class="btn btn-default">2</a></li>
            <li><a href="#" class="btn btn-default">3</a></li>
            <li><a href="#" class="btn btn-default">4</a></li>
            <li><a href="#" class="btn btn-default">5</a></li>
            <li><a href="#" class="btn btn-default">Next</a></li>
        </ul>
    </div>

    <p>-----------------------------------------</p>
    <h4>a</h4>
    <div class="pagination">
        <a href="#" class="btn btn-default">Prev</a>
        <a href="#" class="btn btn-default">1</a>
        <a href="#" class="btn btn-default">2</a>
        <a href="#" class="btn btn-default">3</a>
        <a href="#" class="btn btn-default">4</a>
        <a href="#" class="btn btn-default">5</a>
        <a href="#" class="btn btn-default">Next</a>
    </div>

    <p>-----------------------------------------</p>
    <h4>button</h4>
    <div class="pagination">
        <button class="btn btn-default">Prev</button>
        <button class="btn btn-default">1</button>
        <button class="btn btn-default">2</button>
        <button class="btn btn-default">3</button>
        <button class="btn btn-default">4</button>
        <button class="btn btn-default">5</button>
        <button class="btn btn-default">Next</button>
    </div>

    <!-- jquery -->
    <script src="../vendor/contrib/jquery-1.11.2/index.js"></script>
    
    <!-- Js section -->
    <script src="../vendor/iknsa/js/dev.js"></script>

    <!-- The following js is just for dev and needs to be removed when in prod. -->
    <!-- <script src="js"></script> -->
    <!-- <script src=""></script> -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        // e.src='//www.google-analytics.com/analytics.js';
        // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        // ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
</body>
</html>
